

<mat-card >

    <div  fxLayout.xs="column"
        fxLayoutGap="20px">

    <h1>Seleccione para consultar los Commits de GitHub</h1>
   <span class="spacer"></span>

       <mat-form-field >
           <mat-label>Usuario</mat-label>
           <mat-select [(ngModel)]="commit.userGithub" required>
               <mat-option *ngFor="let user of userGithub" [value]="user.value">
                   {{user.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Repositorio</mat-label>
            <mat-select [(ngModel)]="commit.repository" required>
                <mat-option *ngFor="let repo of repository" [value]="repo.value">
                    {{repo.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <button mat-raised-button 
                color="primary"
                (click)="load()">
            Listar
        </button>
            
    </div>
</mat-card>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar_url">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let c"> {{c.avatar_url}} </td>
    </ng-container>
  
    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let c"> {{c.author}} </td>
    </ng-container>
  
    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Commit </th>
      <td mat-cell *matCellDef="let c"> {{c.message}} </td>
    </ng-container>
  
    <!-- Url Column -->
    <ng-container matColumnDef="html_url">
      <th mat-header-cell *matHeaderCellDef> URL </th>
      <td mat-cell *matCellDef="let c"> {{c.html_url}} </td>
    </ng-container>
    
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let c"> {{c.date}} </td>
    </ng-container>
    
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let c"> {{c.email}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  




