<div fxLayoutAlign="center center"  class="wrapper">
    <mat-card >
        
        <mat-card-header>
            <mat-card-title><h1>Registro</h1></mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>

        <form fxLayout="column" 
                fxLayoutAlign="stretch" 
                fxLayoutGap="20px" 
                autocomplete="off" 
                class="login-form"
                [formGroup]="myForm"
                (ngSubmit)="register()">

            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput 
                    placeholder="Name" 
                    formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput 
                        placeholder="Email" 
                        type="email" 
                        formControlName="email">
            </mat-form-field>
          
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" 
                        placeholder="Password" 
                        type="password"
                        formControlName="password">
            </mat-form-field>

            <button mat-raised-button 
                    type="submit" 
                    color="primary"
                    [disabled]="myForm.invalid">
                    Login
            </button>
        </form>
          
        <mat-card-actions fxLayout="column">
              <p fxLayoutAlign="center">¿Ya tienes una cuenta?</p>
              <button  mat-stroked-button [routerLink]="['/auth/login']">Crea una aquí</button>
        </mat-card-actions>

    </mat-card>
</div>